body {
	background: black;
	margin-bottom: 60px; /* Margin bottom by footer height */
}

html {
  position: relative;
  min-height: 100%;
}

span {
	color: white;
	display: inline;
	line-height: 300%;
}

span:hover{
	font-size: 120%;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 160px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  width: 100%;
  text-align: center;
}

.hr{
	background-color: white;
}

.footer_image{
	height: 32px;
	padding: 3px;
}

.white, .white a {
  color: #fff;
}

.navbar{
	color: white;
	background-color: grey;
	width: 100%;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}